.navbar,
#generator .page-header,
#about,
#history,
#form,
#github,
#contact,
.footer,
.github-fork-ribbon {
    display: none;
}

#showssid,
#showkey {
    display: block;
    word-wrap: break-word; 
}
