.navbar,
#generator .page-header,
#about,
#history,
#form,
#github,
#contact,
.footer {
    display: none;
}

#showssid,
#showkey {
    display: block;
    word-wrap: break-word;
    font-family: Consolas, Menlo, "DejaVu Sans Mono", monospace;
}
