#title,
#showssid,
#qrcode,
#footer {
    text-align: center;
}

#footer img {
    vertical-align: middle;
}

#about,
#form {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#showssid {
    display: none;
}

#ssid,
#key {
    width: 100%;
}

code {
    display: block;
    margin: 0.5em;
}
