body {
    font-family: sans-serif;
}

#title,
#showssid,
#qrcode,
#footer {
    text-align: center;
}

#footer img {
    vertical-align: middle;
}

#about,
#form {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#showssid {
    display: none;
}

#ssid,
#key {
    width: 100%;
}

code {
    display: block;
    margin: 0.5em;
}

input,
select,
button {
    border-radius: 6px;
    padding: 3px;
}

.tooltip {
    position: relative;
    display: inline;
}

.tooltip:hover:before {
    content: attr(data-tooltip);
    font-size: 80%;
    position: absolute;
    z-index: 999;
    white-space: nowrap;
    left: 50%;
    background: #000;
    color: #e0e0e0;
    padding: 0em 0.75em;
    line-height: 200%;
    opacity: 0.8;
    border-radius: 6px;
    bottom: -3em;
}
