#title,
#showssid,
#showkey,
#qrcode {
    text-align: center;
}

#about,
#contact,
#generator {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#export,
#print {
    display: none;
}

#showssid,
#showkey {
    display: none;
}

#save {
    display: none;
}

#history-drop {
    display: none;
}

#ssid,
#key {
    width: 100%;
}


#hidden {
    margin: 0px 0px 5px 5px;
}

#qrcode canvas {
    padding: 2em;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}
.footer p {
    margin-bottom: 0;
    color: #777;
}
.footer-links {
    margin: 10px 0;
}
.footer-links li {
    display: inline;
    padding: 0 2px;
}
.footer-links li:first-child {
    padding-left: 0;
}

.anchor {
  padding-top: 60px;
  margin-top: -60px;
}

img {
    border: 0;
}


@media (min-width: 768px) and (max-width: 979px) {
    #about,
    #contact,
    #generator {
        width: 60%;
    }
}

@media (max-width: 767px) {
    #about,
    #contact,
    #generator {
        width: 80%;
    }

    .footer {
        margin-left: -20px;
        margin-right: -20px;
    }
}
